{# src/OC/PlatformBundle/Resources/views/Default/index.html.twig #}


<html>

  <body>
  
  {#ici on met ce qu'on veut voir afficher quand on rentre l'url de Symfony/src/testBundle/Resources/config/routing.yml#}

   Le projet domotique est : {{ name }}! 	
   
     Le projet robotique est : {{ name }}! 	
	 
	   Le projet informatique est : {{ name }}! 	
   
   

  </body>

</html>